h1 {
color: red;
font-family: comic sans ms;
  font-size: 28pt;
}

h2 {
  color: blue;
  font-family: arial;
  font-size: 24pt;
}

p {
  color: white;
  background-color: black;
  font-family: sans-serif;
  font-size: 12pt;
}
